@model IEnumerable<Assignment1.Models.Equipment>;

<h2>All Equipment Listing</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
