@model Assignment1.Models.EquipmentRequest

<h2>Equipment Request Form</h2>
<div>
    <form asp-action="RequestForm" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name" class="form-label">Your name:</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div>
            <label asp-for="Email" class="form-label">Your email:</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div>
            <label asp-for="Phone" class="form-label">Your phone:</label>
            <input asp-for="Phone" class="form-control" />
        </div>

        <div>
            <label asp-for="Role" class="form-label">Your role:</label>
                <select asp-for="Role" class="form-select">
                <option value="">Select your role</option>
                <option value="Student">Student</option>
                <option value="Professor">Professor</option>
                </select>
        </div>

        <div>
            <label asp-for="EquipmentType" class="form-label">Type of equipment:</label>
                <select asp-for="EquipmentType" class="form-select">
                <option value="">Select equipment type</option>
                <option value="Laptop">Laptop</option>
                <option value="Phone">Phone</option>
                <option value="Tablet">Tablet</option>
                <option value="Another">Another</option>
                </select>
        </div>

        <div>
            <label asp-for="RequestDetails" class="form-label">Request Details:</label>
            <textarea asp-for="RequestDetails" class="form-control"></textarea>
        </div>

        <div>
            <label asp-for="RequestDate" class="form-label">Request Date:</label>
            <input asp-for="RequestDate" class="form-control" type="date" />
        </div>
        <button type="submit">Submit Request</button>
    </form>

</div>