@model IEnumerable<Assignment1.Models.EquipmentRequest>;
<h2>All Equipment Requests</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Equipment Type</th>
            <th>Name</th>
            <th>Role</th>
            <th>Accept</th>
            <th>Decline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Assignment1.Models.EquipmentRequest r in Model)
        {
            <tr>
                

            </tr>
        }
    </table>